:root {
  font-size: 62.5%;

  --ff-primary: 'Roboto', sans-serif;
  --fc-heading: #e1e1e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;

  min-height: 100vh;
  object-fit: cover;

  margin: auto;
}

#bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3.2rem;

  padding: 4rem 0 4rem 7.4rem;
}

nav a {
  text-decoration: none;

  height: 2.2rem;
  font-size: 2.4rem;
  font-weight: bold;

  font-family: var(--ff-primary);
}

nav a:link,
nav a:visited {
  color: white;
}

/* HOME PAGE STYLEs */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 29.4rem auto;

  gap: 2.4rem;
}

.home h1 {
  font-family: var(--ff-primary);
  color: var(--fc-heading);

  font-size: 4.8rem;
  line-height: 6rem;

  font-weight: 700;
}

.home button {
  padding: 1.2rem 3.2rem;

  background-color: transparent;
  color: white;

  border: 2px solid white;

  cursor: pointer;
}

.home button:hover {
  background-color: white;
  color: black;
}

/* UNIVERSE PAGE STYLES */

.universe {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-top: 18.5rem;
  margin-left: 10.2rem;

  max-width: 64.8rem;
}

.universe h1 {
  font-family: var(--ff-primary);
  color: var(--fc-heading);

  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6rem;
}

.universe p {
  font-family: var(--ff-primary);
  color: var(--fc-heading);

  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.88rem;
}

/* EXPLORATION PAGE STYLES */

.exploration {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-top: 18.5rem;
  margin-left: 10.2rem;

  max-width: 64.8rem;
}

.exploration h1 {
  font-family: var(--ff-primary);
  color: var(--fc-heading);
  font-weight: 700;

  font-size: 4.8rem;
  line-height: 6rem;
}

.exploration p {
  font-family: var(--ff-primary);
  color: var(--fc-heading);

  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.88rem;
}
